{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
<div class="container">
    <div class="form-box">
        <form action="" name="Formfill" method="post">
            {% csrf_token %}
            <h2>Register</h2>
            <div class="input-box">
                <input type="text" name="username"  placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="password" name="password"  placeholder="Password" required>
            </div>
            <div class="input-box">
                <input type="password"  name="password1" placeholder="Confirm Password" required>
            </div>
            <div class="button">
                <button class="btn">Register<a href="{% url 'schoolapp:login' %}"></a></button>
            </div>
            <div class="group">
                <span><a href="{%url 'schoolapp:login' %}">Login</a></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>